.portfolio {
  padding: 110px 85px;
}

.portfolio .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.portfolio h3 {
  font-size: 40px;
  margin-top: 5px;
}

.portfolio .header button {
  background-color: #222222;
  padding: 10px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  border-radius: 10px;
}

.portfolio .header button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.portfolio .header button i {
  font-size: 26px;
}

.portfolio .portfolio-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio .portfolio-items .item {
  width: 30%;
  background-color: #131010;
  margin-bottom: 20px;
  border-radius: 20px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in-out;
}

.portfolio .portfolio-items .item:hover {
  border-color: #922a2a;
}

.portfolio .portfolio-items .item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 20px 20px;
}

.portfolio .portfolio-items .item .info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.portfolio .portfolio-items .item .info p {
  font-size: 15px;
}

.portfolio .portfolio-items .item .info a {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #922a2a;
}

.portfolio .portfolio-items .item .info a i {
  margin-left: 2px;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .portfolio .header h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 992px) {
  .portfolio .portfolio-items {
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio .portfolio-items .item {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 60px 42px;
  }

  .portfolio .portfolio-items {
    gap: 18px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio .header button {
    font-size: 10px;
    padding: 8px 14px;
  }

  .portfolio .header button a {
    display: none;
  }

  .portfolio .portfolio-items .item {
    width: 80%;
  }
}
