@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #1c1918;
  color: #d9cdbf;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #983037;
}

a:hover {
  color: #ca3e47;
}

a:focus {
  outline: none;
}
