@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #1c1918;
  color: #d9cdbf;
}

.main-box {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  padding: 150px 150px;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 940px) {
  .main-box {
    padding: 120px 120px;
  }
}

@media screen and (max-width: 740px) {
  .main-box {
    padding: 100px 100px;
  }
}

@media screen and (max-width: 645px) {
  .main-box {
    padding: 90px 70px;
  }
}
